
<link rel="stylesheet" href="/AdminPublic.css">


<main>
<section class="navegacion">
        
  <h1>Formulario</h1>

  <!-- va dentro de un menu hamburguesa -->
  <a class="atras" href="/dashboard-admin">Atras</a>
  <a class="logout" href="/">Log out</a>

  </section>

<section id="formulario">

  <form action="/dashboard-admin/crear-pelicula" method="post">
    <label for="title">Título:</label>
    <input type="text" id="titulo" name="title" placeholder="Título de la película">

    <label for="image">Imagen (URL):</label>
    <input type="url" id="image" name="image">

    <label for="year">Año:</label>
    <input type="number" id="year" name="year" placeholder="Año de estreno">

    <label for="directors">Director:</label>
    <input type="text" id="directors" name="directors" placeholder="Director">

    <label for="stars">Actores principales:</label>
    <input type="text" id="stars" name="stars" placeholder="Actores">

    <label for="genres">Género:</label>
    <input type="text" id="genres" name="genres" placeholder="Genero">


    <label for="runtimeStr">Duración:</label>
    <input type="text" id="runtimeStr" name="runtimeStr">

    <label for="plot">Sinopsis:</label>
    <textarea name="plot" id="plot" cols="30" rows="10"
      placeholder="Introduza una sinopsis sobre la película que desea añadir"></textarea>

    <label for="imdbRating">Calificación:</label>
    <input type="text" id="rating" name="rating">


    <label for="opinions">Opinion:</label>
    <input type="text" id="opinions" name="opinions">


    <label for="date">Fecha:</label>
    <input type="text" id="date" name="date">

    <label for="escritor">Escritor:</label>
    <input type="text" id="escritor" name="escritor">
<!-- 
    <label for="url">URL:</label>
    <input type="hidden" id="url" name="url" value=""> -->

    <input type="submit" value="Crear película">
  </form>
</section>

</main>
