<link rel="stylesheet" href="../../css/AdminPublic.css">

<!-- <section class="navegacion"> -->

  <header class="main-header">
       
    <h1>Crear Pelicula</h1>

    <nav id="nav" class="main-nav">
      <div class="nav-links">
        <a class="link-item" href="/dashboard-admin">Atras</a>
        <a class="link-item" href="/customLogout">Log out</a>
      </div>
    </nav>

    <button id="button-menu" class="button-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </header>      


<section id="formulario">

  <form action="/dashboard-admin/crear-pelicula" method="post" enctype="multipart/form-data">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" placeholder="Título de la película">

    <label for="photo">Imagen:</label>
    <input type="file" id="photo" name="photo">

    <input type="hidden" id="image" name="image">

    <label for="year">Año:</label>
    <input type="number" id="year" name="year" placeholder="Año de estreno">

    <label for="directors">Director:</label>
    <input type="text" id="directors" name="directors" placeholder="Director">

    <label for="stars">Actores principales:</label>
    <input type="text" id="stars" name="stars" placeholder="Actores principales">

    <label for="genres">Género:</label>
    <input type="text" id="genres" name="genres" placeholder="Género">

    <label for="runtimeStr">Duración: (en minutos ')</label>
    <input type="text" id="runtimeStr" name="runtimeStr" placeholder="Duración">

    <label for="plot">Sinopsis:</label>
    <textarea name="plot" id="plot" cols="30" rows="10"
      placeholder="Introduza una sinopsis sobre la película que desea añadir"></textarea>

    <label for="imdbRating">Calificación:</label>
    <input type="text" id="imdbRating" name="imdbRating" placeholder="Rating">
    
    <label for="opinion">Opinión:</label>
    <input type="text" id="opinion" name="opinion" placeholder="Crítica de la película">

    <label for="fecha">Fecha (con formato aaaa/mm/dd):</label>
    <input type="text" id="fecha" name="fecha" placeholder="Fecha de publicación de la crítica">

    <label for="escritor">Escritor:</label>
    <input type="text" id="escritor" name="escritor" placeholder="Autor de la crítica">

    <input type="hidden" id="url" name="url" value="">

    <input type="submit" value="Crear película">
  </form>

  <script src="js/menu.js"></script>

</section>

<%- include('templates/footer') %>