<%- include('templates/header404.ejs') %>

    <section class="grid-container">

        <h2><%= error %></h2>
        <h3><%= msg %></h3>

    </section>


    <a href="/" class="text-align">Volver</a>

<%- include('templates/footer404.ejs') %>