<%- include('templates/header',{urlTitle}) %>

    <h1><%- user.name %></h1>
    <h2><%- user.email %></h2>

    <a href="/userSearch/search">Buscar Películas</a>
    <a href="">Ir a Favoritos</a>

<%- include('templates/footer') %>