<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imdbApp</title>
</head>

<body class="index">
    <div class="index">
        <h1 class="index">Bienvenidos</h1>
    </div>
    <div class="index">
        <a class="index" href="/dashboard">Entrar</a>
    </div>
</body>

</html>