* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* INDEX ****************************************************** */
body {
    background-color: rgb(35, 41, 95);
    width: 100vw;
    height: 100vh;
    font-family: 'arial';
}

h1.index {
    text-align: center;
    text-shadow: 0 0 5px rgb(99, 111, 226);
    color: white;
    font-size: 4em;
    margin: 20px auto;
}

a.index {
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
}

div.index {
    text-align: center;
    width: 100%;
    border-color: 1px solid white;
}

/* FIN INDEX ****************************************************** */

/* DASHBOARD-USER ************************************************* */
header {
    background-color: rgb(35, 41, 95);
    padding: 20px;
}

#flecha {
    font-size: 1.5em;
    padding: 5px;
}

#divNav {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: right;
    height: 50px;
}

#divNav div:first-of-type {
    justify-self: left;
}

#divMenu {
    position: absolute;
    width: 150px;
    right: 18px;
    top: 110px;
    background-color: rgb(99, 111, 226);
    box-shadow: 2px 2px 5px 1px black;

    transform: translate3d(120%, 0px, 0px);
    transition: transform 0.20s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 1001;
}

#divMenu.mostrarNav {
    transform: translate3d(0px, 0px, 0px);
}

nav.searchMovies ul {
    list-style: none;
}

nav.searchMovies li {
    padding: 5px;
    transition: background-color 200ms;
}

nav.searchMovies a {
    padding-top: 5px;
    padding-left: 8px;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
}

nav.searchMovies li:hover {
    background-color: rgb(35, 41, 95);
}

nav.searchMovies button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.3em;
    justify-content: right;
}

form.searchMovies input {
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgb(99, 111, 226);
    width: 250px;
    margin: 5px;
    border: none;
}

nav.searchMovies i,
#lupa {
    cursor: pointer;
}

.ocultar {
    display: none;
}

/* FIN DASHBOARD-USER ******************************************** */

/* VIEW SEARCHMOVIES ***********************************************/
h1.dashSearch {
    text-align: center;
    text-shadow: 0 0 5px rgb(99, 111, 226);
    color: white;
    font-size: 4em;
    margin: 20px auto;
}

#searchText {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    margin-bottom: 15px;
}

#searchText span {
    font-style: italic;
    color: yellowgreen;
}

div.dashSearch {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

form.dashSearch input {
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgb(99, 111, 226);
    color: white;
    text-indent: 5px;
    width: 650px;
    margin: 5px;
    border: none;
}

/* Tabla */
#tableSearch {
    width: 95%;
    margin: 0 auto;
    background-color: rgb(99, 111, 226);
    border-radius: 20px;
}

#tableSearch table {
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
    border-collapse: collapse;
}

#tableSearch tbody {
    margin: 5px 0;
}

#tableSearch tbody tr {
    margin: 10px 0;
    border-bottom: 1px dotted rgb(35, 41, 95);
    border-collapse: collapse;
}

#tableSearch tbody tr a {
    text-decoration: none;
    color: rgb(35, 41, 95);
}

#tableSearch tbody tr a:hover {    
    color: yellowgreen;
}

/* fav y ver */
#tableSearch tr td:nth-child(1),
#tableSearch tr td:nth-child(9),
#tableSearch tr td:nth-child(1),
#tableSearch tr td:nth-child(9) {
    width: 5%;
}

/* Imagen */
#tableSearch tr td:nth-child(2),
#tableSearch tr th:nth-child(2) {
    width: 6%;
}

.imgTable {
    height: 50px;
    width: 50px;
    object-fit: contain;
    padding: 2px 0;
}

/* titulo */
#tableSearch tr td:nth-child(3),
#tableSearch tr th:nth-child(3) {
    width: 14%;
    text-indent: 5px;
}

#tableSearch tr td:nth-child(3) {
    text-align: left;
}


/* año */
#tableSearch tr td:nth-child(4),
#tableSearch tr th:nth-child(4) {
    width: 10%;
}

/* Director */
#tableSearch tr td:nth-child(5),
#tableSearch tr th:nth-child(5) {
    width: 15%;
}

/* elenco */
#tableSearch tr td:nth-child(6),
#tableSearch tr th:nth-child(6) {
    width: 20%;
}

/* género */
#tableSearch tr td:nth-child(7),
#tableSearch tr th:nth-child(7) {
    width: 15%;
}

/* duración */
#tableSearch tr td:nth-child(8),
#tableSearch tr th:nth-child(8) {
    width: 10%;
}

#tableSearch th {
    border-bottom: 2px solid rgb(35, 41, 95);
    font-size: 1.5em;
    padding: 5px;
    border-collapse: collapse;
    color: white;
}


/* FIN VIEW SEARCHMOVIES ***********************************************/


/* Estrella Favorita ********************************************* */
.favorita {
    color: yellow;
    text-shadow: 0 0 3px black;
}

.btnFav {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Fin Estrella Favorita ********************************************* */


/* Search ************************************************************ */
p.search {
    font-size: 1.2em;
    color: white;
    text-indent: 10px;
    padding: 5px;
}

a.search {
    text-decoration: none;
    border: 1px solid blue;
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 1.3em;
    border-radius: 15px;
    box-shadow: 0 0 3px rgb(99, 111, 226);
    background-color: rgb(99, 111, 226);
    padding: 10px 25px;
    display: block;
    width: 250px;
}

div.search {
    width: 300px;
    text-align: center;
    margin: 15px auto;
    display: block;
}

/* FIN Search ************************************************************ */


/* Loader opiniones ********************************************* */
.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #000000;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }

    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }

    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
}

/* FIN Loader opiniones ********************************************* */