<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <script src="https://kit.fontawesome.com/d28a6644c9.js" crossorigin="anonymous"></script>    
    <title><%- urlTitle %></title>
</head>
<body>

    <header>
        <!-- <% if (!urlTitle.includes('Panel')) { %> -->
            <a id="flecha" href="javascript:history.back()"><i class="fa-solid fa-left-long fa-2xl"
                style="color: white;"></i></a> 
        <!-- <% } %>         -->

        <div id="divNav">
            <div>
                <form class="searchMovies" action="/dashboard-usuario/userSearch/searchMovies" method="post">
                    <label for="title"><i id="lupa" class="fa-solid fa-magnifying-glass fa-xl"
                            style="color: #9194af;"></i></label>
                    <input type="text" class="ocultar" name="title" id="title">
                </form>
            </div>
            <div>
                <nav class="searchMovies">
                    <button><i id='btnMenu' class="fa-solid fa-bars fa-2xl"></i></button>
                    <div id="divMenu">
                        <ul>
                            <li><a href="../../dashboard/">Panel de Control</a></li>
                            <li><a href="../../dashboard-usuario/userSearch/search">Buscador</a></li>
                            <li><a href="../../dashboard-usuario/favoritas/<%- user.id %>">Mis Películas</a></li>
                            <li><a href="../../customLogout/">Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </header>
<main>